* {
font-family: 'Roboto';
margin: 0;
padding: 0px;
}

/* -------------- */
/* Header section */
/* -------------- */

.header-nav {
background-color: #1f2937;
color: #F9FAF8;
display: flex;
justify-content: space-between;
padding: 24px;
align-items: center;
}

.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: 900;
}

ul {
font-size: 18px;
text-decoration: none;
list-style-type: none;
display: flex;
gap: 24px;
}

.header-content {
background-color: #1f2937;
color: #F9FAF8;
display: flex;
padding: 100px;
justify-content: center;
gap: 48px;
}

.header-content-left {
display: flex;
flex-direction: column;
gap: 16px;
max-width: 500px;
}

h1 {
font-size: 48px;
font-weight: 900;
}

p {
font-size: 18px;
}

button {
background-color: #3882F6;
color: white;
font-size: 16px;
padding: 10px 40px;
font-weight: 900;
border-radius: 8px;
width: 160px;
}

img {
width: 500px;
height: auto;
}

/* --------------- */
/* Content section */
/* --------------- */

.content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px;
}

h2 {
font-size: 36px;
color: #1F2937;
font-weight: 900;
margin-bottom: 50px;

}

.squares {
display: flex;
gap: 50px;
text-align: center;
flex-wrap: wrap;
}

.square-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 200px;
}
.square {
border: 5px solid #3882F6;
width: 200px;
height: 200px;
border-radius: 25px;
flex-shrink: 0;
}